/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #F78E69;
}

.bienvenida{
	background-color: #F78E69;
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	height: 250px;
	box-sizing: border-box;
	color: white;
	text-align: right;
	
}

h1{
	padding: 70px 40px 20px 1px;
	font-size: 50px;
}
p{
	padding: 15px 40px 20px 20px;
	font-size: 23px;
}
img{
	background-image: url(../img/dos.jpg);
	filter: grayscale(100%);
	background-color: #F78E69;
}

.texto{
	margin: 55px 0px 55px 0px; 
	height: 800px;
	width: 100%;
	background-color: #ABE188;
}
#aboutPandas{
	text-align: center;
	border-top: 35px solid #ABE188;
	box-sizing: content-box;
    margin-left: 1000px;
	background-color: #F78E69;
	height: 200px;
	width: 550px;
	font-family: 'Raleway', sans-serif;
	color: white;
}
#foto2 {
	background-image: url(../img/dos.jpg);
	background-position: center;
	height: 900px;
	width: 100%;
	background-size: cover;
	filter: grayscale(100%);
	}
.texto2{
	background-color: #ABE188;
	margin: 0px 0px 55px 0px; 
	height: 800px;
	font-family: 'Raleway', sans-serif;
	color:white;
	text-align: center;
	
}
#foto3 {
	align-content: center;
    height: auto;
    float: center; 
	filter: grayscale(100%);

}
#uno, #dos,#tres,#cuatro{
	box-sizing: padding-box;
	float: center; 
	border: 7px solid white;
	margin: 10px;